* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  background-color: darkslateblue;
}
.container {
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
}
h1 {
  font-size: 36px;
  color: white;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-top: 0;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-weight: bold;
  margin-bottom: 10px;
}
input {
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}
button {
  background-color: #007bff;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0062cc;
}
#result {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}
